*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

img{
    height: 100%;
    width: 100%;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 113px;
}

/*-box1-*/
.logo{
    background-size: cover;
    height: 50px;
    width: 100%;
}



.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid #ffffff;
}


/*-box2-*/
.add-1{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-2{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}



/*-Search box-*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #E6E6E6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #111111;

}

.nav-search:hover{
    border: 2px solid pink;
}


/*-sign-in-box-*/
span{
    font-size: 0.8rem;
}

.nav-sign-1{
    font-size: 0.9rem;
    font-weight: 700;
}

.nav-sign-2{
    border: none;
}

/*-cart-box-*/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.9rem;
    font-weight: 700;
}


/**---Nav-Panel---**/
.nav-panel{
    display: flex;
    height: 39px;
    background-color: #195851;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-panel-option p {
    display: inline;
    margin-left: 15px;
}

.nav-panel-option{
    width: 70%;
    font-size: 0.85rem;
}

.nav-panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/**--Hero-section**/
.hero-section{
    height: 350px;
    display: flex;
    flex-direction: column;
}
.heroimage img{
    height: 320px;
}
.hero-mess{
    background-color: #F5F6F6;
    height: 40px;
    color: #0F1111;
    text-align: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 22px;
}

.hero-mess a{
    color: #007185;
    font-size: 0.85rem;
}

/**--shop-section--**/
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 12px;
}
.card{
    margin-top: 10px;
    flex: 300px;
    margin-left: 10px;
    margin-right: 10px;
}
.content{
    color: #007185;
}
.image{
    margin-bottom: 12px;
    height: 300px;
}
.moreCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.more1, .more2, .more3, .more4{
    margin-top: 10px;
    margin-bottom: 20px;
}
.imageM{
    height: 100px;
    margin-top: 5px;
}
/**-Footer-**/
footer{
    margin-top: 15px;
}

.foot-panel-1{
    background-color: #37475a;
    color: #ffffff;
    font-size: 0.85rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel-2{
    background-color: #222F3D;
    color: #FFFFFF;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.9rem;
}

.foot-panel-2 ul > a{
    display: block;
    margin-top: 10px;
    color: #DDDDDD;
}

.foot-panel-2 ul > p{
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.foot-panel-3{
    background-color: #222F3D;
    color: #FFFFFF;
    height: 68px;
    border-top: 0.2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-logo{
    background-image: url("amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel-4{
    background-color: #131A22;
    color: #FFFFFF;
    height: 80px;
    font-size: 0.85rem;
    text-align: center;
}

.foot-page-last{
    padding-top: 25px;
}

.foot-copyright{
    padding-top: 5px;
}

@media screen and (max-width:650px) {
    .navbar{
        height: 100px;
    }
    .nav-sign-1{
        font-size: 0.7rem;
        font-weight: 500;
    }
    
    /*-cart-box-*/
    .nav-cart i{
        font-size: 15px;
    }
    
    .nav-cart{
        font-size: 0.7rem;
        font-weight: 400;
    }
    
    .add-1{
    
        font-size: 0.65rem;
    }
    
    .add-2{
        font-size: 0.85rem;
    }
    
    .nav-panel{
        height: 55px;
    }
    .nav-panel-option{
        font-size: 0.7rem;
    }
    .nav-panel-deals{
        font-size: 0.7rem;
        font-weight: 500;
        display: block;
    }
    .foot-panel-2{
        height: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .nav-search{
        width: 90%;
    }  
}